{% load static %}
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="{% static 'buttoncss.css' %}" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <link rel="stylesheet" href="{% static 'formstyle.css' %}" />
    <script>
      $(window)
        .on("load resize ", function () {
          var scrollWidth =
            $(".tbl-content").width() - $(".tbl-content table").width();
          $(".tbl-header").css({ "padding-right": scrollWidth });
        })
        .resize();
    </script>
  </head>
  <div class="well">
    <form action="{% url 'add-url' %}" method="post">
      {% csrf_token %}
      <div class="form-group">
        <span class="entry"> Entry </span>
        <input
          class="form-control"
          type="text"
          name="URL"
          placeholder="Enter URL"
        />
        <input type="submit" class="btn btn-primary" value="Submit" />
      </div>
    </form>
  </div>
  <section>
    <!--for demo wrap-->
    <h1>URL Watch</h1>
    <div class="rightside">
      Refresh ALL
      <a href="{% url 'refresh-all'%}">
        <button class="btn"><i class="fa fa-refresh"></i></button>
      </a>
    </div>
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th width="20px">#</th>
            <th>URL</th>
            <th>Current price</th>
            <th>Last known price</th>
            <th>Last best price</th>
            <th>Change +/- %</th>
            <th>Last refreshed</th>
            <th>Refresh</th>
            <th>Delete</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
          {% for entry in all_entries %}
          <tr>
            <td width="20px" style="text-align: left">
              {{ entry.serial_number }}
            </td>
            <td><a href="{{ entry.url }}"> {{ entry.title }}</a></td>
            <td>{{ entry.current_price }}</td>
            <td>{{ entry.last_known_price }}</td>
            <td>{{ entry.last_best_price }}</td>
            <td>{{ entry.percent_change }}</td>
            <td>{{ entry.get_date_formatted }}</td>
            <td>
              <a href="{% url 'refresh-entry' serial=entry.serial_number %}">
                <button class="btn"><i class="fa fa-refresh"></i></button>
              </a>
            </td>
            <td>
              <a href="{% url 'delete-entry' serial=entry.serial_number %}">
                <button class="btn"><i class="fa fa-trash"></i></button>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
</html>
